fn is_prime(n) {
    if n < 2 then return false
    if n < 4 then return true

    let i = 2
    while i < n do {
        if n % i == 0 then return false
        let i = i + 1
    }
    true
}


fn main(argc, argv) {
    let value

    if argc < 2 then return
    sscanf(argv[1], "%d", &value)

    let result = is_prime(value)

    printf("Is %d prime number? [%s]\n",
        value, if result then "YES" else "NO")
}
