use std

enum Sum<A, B> { a: A, b: B }
struct Product<A, B> { a: A, b: B }

fn Sum.print<A, B>(this: Sum<A, B>): Str {
    match this {
        A n = (format "Sum::A(", n, ")"),
        B s = (format "Sum::B(", s, ")")
    }
}

fn Product.print<A, B>(this: Product<A, B>): Str {
    format "Product { a: ", this.a, ", b: ", this.b, " }"
}

fn main() {
    let sum = new Sum<Int, Str>
    let product = new Product<Int, Str>

    let sum.a = 123
    print sum

    let sum.b = "Hoge"
    print sum

    let product.a = 456
    let product.b = "Fuga"
    print product
}
