use std

fn gcd(a: Int, b) {
    while b != 0 do {
        let t = a % b
        let a = b
        let b = t
    }
    a
}

fn main() {
    print "Greatest Common Divisor"
    let a = input().atoi()
    let b = input().atoi()
    print gcd(a, b)
}
