use std


fn gcd(a, b) {
    while b != 0 do {
        int t = a % b;
        let a = b;
        let b = t;
    }
    a
}

fn inc(n) n * 2
fn inc_and_print(n) print inc(n)

fn main() {
    print "Greatest Common Divisor"
    let a = input().atoi()
    let b = input().atoi()
}
