use std

fn main(argc: Int, argv: [Str]) {
    if argc < 10 {
        print "Editor"
        exit(1)
    }
    let command = argv[0]
    let src = argv[1]

    if command == "read" then {
        if let buf = read_file(src).some then {
            print "Edit: ", src
            print buf
        } else {
            print "undefined: ", src
        }
    } else if command == "write" then {
        let content = input()
        write_file(src, content)
    }
}
