use std

fn inc(n: Int): Int n + 1
fn double(n: Int): Int n * 2

fn apply(f: Int(Int), x: Int): Int f(x)

fn main() {
    let x = 5
    let y = apply(inc, x)
    let z = apply(double, y)
    print z
}
