use std

struct Frac {
    num: Int,
    den: Int
}

fn frac(num: Int, den: Int): Frac {
    let this = new Frac
    let this.den = if den > 0 then den else 1
    let this.num = num
    this
}

fn Frac.print(this: Frac): Str '
    format this.num, "/", this.den

fn Frac.toFloat(this: Frac): Float {
    let num = this.num.toFloat()
    let den = this.den.toFloat()
    num / den
}

fn Frac.mul(a: Frac, b: Frac): Frac {
    frac(a.num * b.num, a.den * b.den)
}

fn main() {
    let a = frac(1, 3)
    let b = frac(5, 2)
    let c = a * b
    print c.toFloat(), " = ", c
}
