use std

fn fizzbuzz(n: Int): Str {
    if n % 15 == 0 then return "FizzBuzz"
    if n % 3 == 0 then return "Fizz"
    if n % 5 == 0 then return "Buzz"
    format n
}

fn main() {
    let i = 1
    while i <= 100 do {
        print fizzbuzz(i)
        let i = i + 1
    }
}
