use std

fn is_prime(n: Int): Bool {
    if n < 2 then return false
    if n < 4 then return true
    
    let i = 2
    while i * i < n do {
        if n % i == 0 then return false
        let i = i + 1
    }
    true
}

fn main() {
    let n = input().atoi()
    print is_prime(n)
}