use std

struct List<T> {
    car: T,
    cdr: List<T>
}

fn List<T>(value: T): List<T> {
    let this = new List<T>
    let this.car = value
    this
}

fn List.link<T>(a: List<T>, b: List<T>) {
    while a.cdr? do let a = a.cdr
    let a.cdr = other
}

fn main() {
    let a = List<Int>(100)
    let b = List<Int>(200)
    a.link(clone b)

    print a.cdr.car
}
