use std

enum Peano {
    zero: (),
    succ: Peano
}

fn Peano.add(lhs: Peano, rhs: Peano): Peano '
match rhs {
    zero = clone lhs,
    succ n = Peano::Succ(lhs + n)
}

fn Peano.display(this: Peano): Int '
    if let n = this.succ then decode(n) + 1 else 0

fn main() {
    let one = Peano::Succ(Peano::Zero)
    print one + one
}
