use std

fn expr(): Int {
    let token = input()
    if token == "add" then {
        let a = expr()
        let b = expr()
        a + b
    } else if token == "sub" then {
        let a = expr()
        let b = expr()
        a - b
    } else if token == "mul" then {
        let a = expr()
        let b = expr()
        a * b
    } else if token == "div" then {
        let a = expr()
        let b = expr()
        a / b
    } else {
        token.atoi()
    }
}

fn main() {
    print "[Calc] Polish-notation"
    print expr()
}
