use std

fn expr(rule: Map<Str, Int(Int, Int)>): Int {
    let token = input()
    let func = rule.get<Str, Int(Int, Int)>(token)
    if func? then {
        let a = expr()
        let b = expr()
        func(a, b)
    } else {
        token.atoi()
    }
}

fn add(a: Int, b: Int): Int a + b
fn sub(a: Int, b: Int): Int a - b
fn mul(a: Int, b: Int): Int a * b
fn div(a: Int, b: Int): Int a / b

fn main() {
    let rule = Map<Str, Int(Int, Int)>(
        ["+", "-", "*", "/"],
        [add, sub, mul, div]
    )
    print "[Calc] Polish-notation"
    print expr(rule)
}
