use std

fn expr(): Int {
    let token = input()
    if token == "+" then {
        let a = expr()
        let b = expr()
        a + b
    } else {
        token.atoi()
    }
}

fn main() {
    print expr()
}
