use std

struct Profile {
    name: Str,
    age: Float
}

fn Profile.greet(this: Profile) {
    print this.name, " (", this.age, ")"
}

fn main() {
    let she = new Profile
    let she.name = "Alice"
    let she.age = 13.2
    she.greet()
}
