use std

fn main() {
    let secret = random(1, 10)
    let answer: Int

    while secret != answer do {
        let answer = input().atoi()
        if secret < answer then "Too big"
        if secret > answer then "Too small"
    }
    print "Correct!"
}
