use std

fn main() {
    let secret = random(1, 100)
    let answer: Int

    while secret != answer do {
        let answer = input().atoi()
        if secret < answer then print "too big"
        if secret > answer then print "too small"
    }
    print "Correct!"
}
