use std

fn main() {
    srand(time(0) + getpid())
    let secret = (rand() % 10) + 1
    if input().atoi() == secret then {
        print "Correct!"
    } else {
        print "correct number is ", secret
    }
}