use std

fn bubble_sort<T>(cmp: Bool(T, T), array: [T]) {
    let i = 0
    while i < array.len do {
        let j = array.len - 1
        while j > i do {
            if cmp(array[j], array[j - 1]) then {
                let temp = array[j]
                let array[j] = array[j - 1]
                let array[j - 1] = temp
            }
            let j = j - 1
        }
        let i = i + 1
    }
}

fn ascending_order(a: Int, b: Int): Bool a < b

fn main() {
    let x = [5, 3, 6, 8, 1]
    print "Before: ", x

    ascending_order.bubble_sort<Int>(x)
    print "After:  ", x
}
