use std

fn sub() {
    for number = [1, 2, 3] do {
        print "Sub: ", number
        sleep(number)
    }
}

fn main() {


    for number = [2, 2, 2] do {
        print "Main: ", number
        sleep(number)
    }
}
