use std

fn sub() {
    sleep(1)
    print "Sub 1"
    sleep(1)
    print "Sub 2"
}

fn main() {
    let id = Thread(sub)

    print "Main 1"
    sleep(1)
    print "Main 2"
    sleep(1)

    id.join()

    print "Main: finish"
}
