use std

fn interface<T>() {
    let object = new T
    object.update(input())
}

struct User {
    name: Str,
    id: Int
}

struct Anonymous {
    ip_addr: Float
}

fn User.update(this: User, data: Str) {
    let this.name = data.strtok(" ")
    let this.id = time(0) % 100
    print this.name, this.id
}

fn Anonymous.update(this: Anonymous, data: Str) {
    let this.ip_addr = 192.168 + atof(data)
    print this.ip_addr
}

fn main() {
    interface<User>()
    interface<Anonymous>()
}
