use std, viewkit

fn main() {
    let runtime = viewkit_runtime(1)

    if runtime? then {
        print "begin: ", viewkit_begin(runtime, 100)
        print "card: ", viewkit_card(runtime, 200, "ViewKit in Ruca example application", "text text hahahahahahaaaaaaaa :)")
        print "commit: ", viewkit_commit(runtime)
        print "window: ", viewkit_run_window(runtime, "ViewKit in Ruca example application", 800.0, 600.0, true)
        print "destroy: ", viewkit_destroy(runtime)
    } else {
        print "ViewKit runtime creation failed"
    }
}
