extern fn calloc<T>(nmemb: Int, size: Int): T
extern fn memcpy<T>(dest: T, src: T, n: Int)

extern fn strcmp(a: Str, b: Str): Int
extern fn strlen(this: Str): Int

extern fn atoi(src: Str): Int
extern fn g_strdup_printf: Str
extern fn printf

fn Str.add(a: Str, b: Str): Str format a, b
fn Str.eq(a: Str, b: Str): Bool {
    let flag = strcmp(clone a, clone b)
    flag == 0
}

extern fn scanf(fmt: Str, buf: Str)
fn input(): Str {
    let buf = calloc<Str>(512, 1)
    scanf("%s", buf)
    buf
}
