extern fn calloc<T>(nmemb: Int, size: Int): T
extern fn memcpy<T>(dst: T, src: T, n: Int)

extern fn strcmp(a: Str, b: Str): Int
extern fn strlen(this: Str): Int

extern fn atoi(src: Str): Int
extern fn g_strdup_printf: Str
extern fn printf

fn Str.add(a: Str, b: Str): Str format a, b

fn Str.eq(a: Str, b: Str): Bool strcmp(a, b) == 0
fn Str.ne(a: Str, b: Str): Bool strcmp(a, b) != 0

extern fn scanf(fmt: Str, buf: Str)
fn input(): Str {
    let buf = calloc<Str>(512, 1)
    scanf("%s", buf)
    buf
}

enum Option<T> {
    some: T,
    none: ()
}

struct Map<K, V> {
    keys: [K],
    values: [V]
}

fn Map<K, V>(keys: [K], values: [V]): Map<K, V> {
    let this = new Map<K, V>
    let this.keys = keys
    let this.values = values
    this
}

fn Map.index<K, V>(this: Map<K, V>, key: K): Int {
    let index = 0
    while (index < this.keys.len) '
        & (this.keys[index] != key) do {
        let index = index + 1
    }
    index
}

fn Map.get<K, V>(this: Map<K, V>, key: K): Option<V> {
    let index = this.index<K, V>(key)
    if index != this.keys.len then {
        Option<V>::Some(this.values[index])
    } else {
        Option<V>::None
    }
}

fn Map.insert<K, V>(this: Map<K, V>, key: K, value: V) {
    let index = this.index<K, V>(key)
    if index != this.keys.len then {
        let this.values[index] = value
    }
}

extern fn mkdir(path: Str)
extern fn rmdir(path: Str)
extern fn rename(src: Str, dst: Str)

extern fn fopen(path: Str, mode: Str): File
extern fn fclose(fp: File)

extern fn fread(buf: Str, size: Int, byte: Int, fp: File): Int
extern fn fwrite(buf: Str, size: Int, byte: Int, fp: File): Int

extern fn fseek(fp: File, offset: Int, whence: Int)
extern fn ftell(fp: File): Int
extern fn rewind(fp: File)

fn read_file(path: Str): Str {
    let fp = fopen(path, "r")

    fseek(fp, 0, 2)
    let size = ftell(fp)
    rewind(fp)

    let buf = calloc<Str>(size, 1)
    if fp? then {
        fread(buf, 1, size, fp)
        fclose(fp)
    }
    buf
}

fn write_file(path: Str, content: Str) {
    let fp = fopen(path, "w")
    if fp? then {
        fwrite(content, 1, content.len, fp)
        fclose(fp)
    }
}
